.cardhead{
    padding: 25px;
    
    
}
.cardhead h2{
    font-size: 5rem;
    background-color: var(--sec);
    color: #fff;
    
}

.cardhead .divider{
    
    width: 10%;
    border: 5px solid var(--prim);
    margin-top: -18px;
    margin-bottom: 18px;
}